<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon for all browsers -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png" />
    <link rel="shortcut icon" href="/public/icons/favicon.ico" />

    <!-- Apple Touch Icon for iOS -->
    <link rel="apple-touch-icon" href="/public/icons/apple-touch-icon.png" />

    <!-- Android Chrome Icons -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/public/icons/android-chrome-192x192.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/public/icons/android-chrome-512x512.png" />

    <!-- Manifest for PWA (Progressive Web App) -->
    <link rel="manifest" href="/public/icons/site.webmanifest" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    {{embed}} {{if .JsFile}}
    <script type="module" src="/public/js/{{.JsFile}}"></script>
    {{end}}
  </body>
</html>
